*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: #2584ff;
  --color-secondry: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #918ca4a8;
  --color-border: var(--color-border);
}
html {
  font-size: 16px;
}
img {
  width: 100%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  /* Links */
  a {
    text-decoration: none;
  }
  .Link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }
  .Link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
  }
  .Link-arrow:hover::after {
    margin-left: 10px;
  }

  body {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .Link-arrow {
    font-size: 1.5rem;
  }
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
  .list-tick .list-item {
    padding-left: 0;
  }

  .input {
    font-size: 1.5rem;
  }
  .quotes {
    font-size: 2rem;
  }
  .quote-author {
    font-size: 2.4rem;
  }
  .quote-oranization {
    font-size: 1.6rem;
  }
}

.badge {
  border-radius: 20px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
}
.list {
  padding-left: 0;
  list-style: none;
  color: var(--color-heading);
  padding-left: 0;
}
.list-inline .list-item {
  display: inline-block;
  margin: 2rem;
}
.list-tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}
.list-tick .list-item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.icon {
  width: 40px;
  height: 40px;
  overflow: visible;
}
.icon-primary {
  fill: var(--color-primary);
}
/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
}

.btn--primary {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--primary:hover {
  background-color: #df2d00;
}
.btn--secondary {
  background: var(--color-secondry);
  color: #fff;
}
.btn--secondary:hover {
  background: #00b2d1;
}
.btn--accent {
  background: #fff;
  color: var(--color-heading);
  border: 0.2rem solid var(--color-heading);
}
.btn--accent:hover {
  background: var(--color-heading);
  color: #fff;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.input {
  border-radius: 30px;
  border: 1px sold var(--color-border);
  color: var(--color-heading);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
.input-group {
  border: 1px solid #cdcbd786;
  border-radius: 30px;
  display: flex;
}
.input-group.input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group .btn {
  margin: 4px;
  /* align-items: end; */
}
::placeholder {
  color: #cdcbd7;
}
.media {
  display: flex;
}
.media-icon {
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
}
.media-title {
  margin-top: 0;
}
.media-body {
  margin: 0 2rem;
}
/* Qutes */
.quotes {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}
.quote-text::before {
  content: open-quote;
}
.quote-text::after {
  content: close-quote;
}
.quote-author {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quote-oranization {
  color: var(--color-headings);
  font-style: normal;
  opacity: 0.5;
  font-size: 1.5rem;
}
.quote-line {
  position: relative;
  bottom: 10px;
}
/* grid */
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid {
  display: grid;
}
/* testimonial */
.testimonial {
  padding: 3rem;
}
.testimonial-image {
  width: 100%;
  position: relative;
  margin: 0 3rem;
}
.testimonial-qoute-image {
  position: inline-flex;
  top: 3rem;
  right: -32px;
  width: 64px;
  height: 64px;
  background: var(--color-accent);
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
  .hero {
    padding-top: 0;
  }
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
/* callout */
.callout--primary {
  color: rgb(255, 255, 255);
  background: var(--color-primary);
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout-signup {
  transform: translateY(5rem);
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
.callout__heading {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  font-size: 3rem;
}
.callout {
  padding: 4rem;
  border-radius: 5px;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout.btn {
    justify-self: start;
    margin: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  /* push item to edge of content */
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.icon--white {
  fill: rgb(255, 255, 255);
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* nav */
.nav {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.nav__list {
  width: 100%;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a :hover {
  color: #fff;
}
.icon--white {
  fill: white;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 3px #666;
}
.nav__brand {
  transform: translateY(5px);
}
/* hero */
.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}
.block--skewed-left {
  padding-bottom: calc(car(--padding-vertical)+4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.block--dark {
  background: #000;
  color: #7b858b;
}
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
}
.badge--secondary {
  background-color: var(--color-secondry);
  color: #fff;
}
